.movies-loading {
  height: 300px;
  display: block;
  margin: 30vh auto 0;
}

video {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

#dashboard {
}

#videoContainer {
  position: relative;
  margin: 1em 0 0;

  #video-controls {
    transition: opacity 0.5s ease;
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    #video-buttons {
      display: flex;
      flex-flow: row nowrap;
      margin: 1em 1em 0;
      padding: 0 0.5em;
      justify-content: space-between;
      color: white;
    }

    #progress {
      margin: 0 1em 0.5em;
    }
  }
}
