.movies-loading {
  height: 300px;
  display: block;
  margin: 30vh auto 0;
}

video {
  height: 90vh;
}

ul {
  padding: 0;
  list-style-type: none;
}

#dashboard {
  text-align: center;
}

#videoContainer {
  display: inline-block;
  position: relative;
  margin: 1em 0 0;

  #video-controls {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
