<div id="dashboard">
  <figure id="videoContainer" *ngIf="videoAvailable"
          (mousemove)="hideControls($event)"
          (mouseenter)="hideControls($event)"
          (mouseleave)="showControls($event)">
    <video id="video">
      <source [src]="endpoint + '/api/movie/watch?infoHash=' + infoHash" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div id="video-controls">
      <ul id="video-buttons" class="controls">
        <li>
          <mat-icon [svgIcon]="playing ? 'pause': 'play'" id="playpause"></mat-icon>
        </li>
        <li>
          <mat-icon svgIcon="volume-up" id="mute"></mat-icon>
        </li>
        <li>
          <button id="volinc" type="button">Vol+</button>
        </li>
        <li>
          <button id="voldec" type="button">Vol-</button>
        </li>
        <li>
          <mat-icon svgIcon="expand" id="fs"></mat-icon>
        </li>
      </ul>
      <mat-slider (valueChange)="seek($event)" id="progress" step="1" [max]="videoMetaData.duration" [value]="videoMetaData.time"></mat-slider>
    </div>
  </figure>
</div>
<app-loading *ngIf="isLoading" [text]="loadingText" class="movies-loading"></app-loading>
