<div class="header-container">
  <div>
    <h2>Freeflix</h2>
  </div>

  <form *ngIf="IsSearchBarVisible()" class="search-form" (submit)="searchMovie(search.value)">
    <div class="search-field">
      <mat-form-field>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" matInput placeholder="Movie" #search>
      </mat-form-field>
    </div>
  </form>
  <div class="params-icon" (click)="openSearchSettingsDialog()">
    <mat-icon svgIcon="params"></mat-icon>
  </div>
  <a [routerLink]="getRedirect()">
    <div class="downloads-icon" [style.color]="getColor()">
      <mat-icon svgIcon="cloud" [matBadge]="getTorrentNotification()" matBadgeColor="accent"></mat-icon>
    </div>
  </a>
</div>