.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    height: 70px;

    @media screen and (max-width: 40em) {
        h2 {
            display: none;
        }
    }

    h2 {
        margin: 0;
        margin-left: 1em;
        font-family: 'Cabin', sans-serif;
        color: red;
        font-size: 2.3em;
        text-align: left;
        flex:  1;
    }
    .search-form {
        margin-left: auto;
        .search-field {
            text-align: center;
        }
    }
    

    .downloads-icon {
        flex: 1; 
        text-align: right;
        margin-right: 2em;
        margin-left: 1em;
        color: white;
    }

    .params-icon {
        margin-right: auto;
        flex: none;
        color:white;
        margin-left: 1em;
        cursor: pointer;
    }
}