@import url('https://fonts.googleapis.com/css?family=Cabin');
h2 {
    font-family: 'Cabin', sans-serif;
    color: red;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: left
}