@import url('https://fonts.googleapis.com/css?family=Cabin');
h2 {
    font-family: 'Cabin', sans-serif;
    color: red;
    font-size: 2.3em;
    margin: 0.5em;
    margin-bottom: 0;
    text-align: left;
}