@import url('https://fonts.googleapis.com/css?family=Cabin');
/* autoprefixer: off */
.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.movies-container > .movie {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie-title {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0;
}

.movies-loading {
    display: block;
    margin: 0 auto;
    margin-top: 30vh;
}

.imdb-rating {
    color: darkgoldenrod;
    font-weight: bold;
}