@import url('https://fonts.googleapis.com/css?family=Cabin');
/* autoprefixer: off */
.movie-card {
    max-width: 200px;
    margin-bottom: 1em;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.movies-container > .movie {
    margin: 0;
}

.movie-title {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0;
}

.movies-loading {
    display: block;
    margin: 0 auto;
    margin-top: 40vh;
}

.imdb-rating {
    color: darkgoldenrod;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 1em;

    h2 {
        margin: 0;
        font-family: 'Cabin', sans-serif;
        color: red;
        font-size: 2.3em;
        text-align: left;
    }

    .search-form {
        margin-left: 7em;
    }
}